<extend name="Index/index" />
<block name="headlist">
    <style>
        .about {
            width: 100%;
            height: 500px;
            margin-top: 140px;
        }
        
        .about-safe {
            width: 1000px;
            margin: 0 auto;
            height: 460px;
            background: #fff;
            margin-top: 40px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        }
    </style>
</block>
<block name="main">
    <div class="about">
        <!-- <p>This is About page!</p> -->
        <div class="about-safe">
            <ul>
                <li style="width:100%;height:34px;background:#20A0FF;font-size:16px;">
                    <!-- <i style="display:block;width:6px;height:34px;background:#5AB302;float:left;"></i> -->
                    <span style="width:75px;margin-left:10px;line-height:34px;color:#fff;font-weight:400;">
                      公司介绍&nbsp;/&nbsp;Company introduction
                      </span>
                </li>
                <li style="width:94%;margin:10px auto;font-size:16px;color:#555;line-height:30px;text-indent:32px">
                    EFC Link（华嗣咨询）是全国领先的专业人力资源管理解决方案供应商。我们以"专业、高效、精准"的态度，为企业提供公开课、内训、中高端人才招聘及管理咨询等综合服务，帮助企业精英人士提升能力、搭建人脉及职业发展平台，竭力推进企业人才发展。<br/>
                </li>
                <li style="width:94%;margin:10px auto;font-size:16px;color:#555;line-height:30px;text-indent:32px">
                    EFC Link (Huasi Consulting) is one of the national leading professional human resource management solutions providers. We provide public training, internal training, middle and high-end talent hunting, management consulting and other integrated services
                    for enterprises with a "professional, efficient and accurate" attitude, in order to help elites to enhance their abilities, to build their social network and occupation development platform, and to promote the development of enterprise
                    talents.
                </li>
            </ul>
            <ul>
                <li style="width:100%;height:34px;background:#20A0FF;font-size:16px;">
                    <!-- <i style="display:block;width:6px;height:34px;background:#5AB302;float:left;"></i> -->
                    <span style="width:75px;margin-left:10px;line-height:34px;color:#fff;font-weight:400;">
                      网站介绍&nbsp;/&nbsp;Web site introduction
                      </span>
                </li>
                <li style="width:94%;margin:10px auto;font-size:16px;color:#555;line-height:30px;text-indent:32px;">
                    本站建于2017年9月13日，主要用于推广阿米巴经营理念，展示公司的阿米巴培训课程，以及相关内训事物。我是填充词我是填充词我是填充词我是填充词，我是填充词我是填充词我是填充词我是填充词，我是填充词我是填充词我是填充词我是填充词我是填充词我是填充词，我是填充词我是填充词我是填充词我是填充词我是填充词，我是填充词我是填充词我是填充词我是填充词我是填充词我是填充词，我是填充词我是填充词我是填充词我是填充词我是填充词我是填充词。
                </li>
            </ul>
        </div>
    </div>
</block>